game/maps/
game/resource/flash3/scaleform
game/resource/flash3/ValveLib
soundevents/soundevents_diagnostics.vsndevts_c
game/resource/overviews/
game/particles/
game/materials/
game/tools_thumbnail_cache.bin
game/tools_asset_info.bin
game/resource/flash3/custom_ui.txt
game/resource/flash3/CustomUI.as
game/resource/flash3/CustomUI.fla
game/resource/flash3/CustomUI.swf
game/resource/flash3/StatsCollection.swf
flash source/
game/resource/flash3/images/spellicons/mjollnir_arc.000.png
game/resource/flash3/images/spellicons/mjollnir_arc.001.png
game/resource/flash3/images/spellicons/mjollnir_arc.002.png

# Cache crap that Valve autogenerates
*.bin
*.cfg

# Compiled formats
*.vpcf_c
*.vtex_c
*.vsndevts_c
*.vsnd_c
*.vmat_c
*.vjs_c
*.vxml_c
*.vcss_c

# Map files
*.vpk

# Map overviews
resource/overviews/*

#Github dump
*.stackdump
game/scripts/vscripts/statcollection/settings.kv
