@define TotalLength: 40s;
@define TimingFunc: linear;
@define IterationCount: 1;
@define AnimationDelay: 0s;

.AddonLoadingRoot
{
	width: 100%;
	height: 100%;
	background-color: black;
	overflow: clip;
	background-image: url("file://{images}/loadingscreens/ti9_cache_huskar_baptism_of_melting_fire_ls/loadingscreen.vtex");
	background-position: center center;
	background-size: cover;
}

#TitlePanel
{
	horizontal-align: left;
	vertical-align: bottom;
	margin-bottom: 150px;
	margin-left: 100px;
	flow-children: right;
}

#AddonTitle
{
	margin-bottom: -15px;
	vertical-align: center;
	text-transform: uppercase;
	font-size: 80px;
	color: #cccccc;
	text-shadow: 2px 2px 2px #000000;
}

.SeqImg
{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
}

#CustomBg
{

	margin-top: 350px;
	overflow: clip;
	pre-transform-scale2d: 1.0;
	animation-name: gamemode_anim;
	animation-delay: AnimationDelay;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
}

#gamemode
{
	margin-left: 160px;
	/*margin-bottom: 0px;*/
	
}

@keyframes 'gamemode_anim'
{
	0%
	{
		transform: translateX( 0px ) translateY( 0px );
		pre-transform-scale2d: .8;
	}

	100%
	{
		transform: translateX( 0px ) translateY( -200px );
	}
}

#LoDLoadingTip {
	margin: 40px;
	horizontal-align: left;
	vertical-align: top;

	width: 640px;
	height: 140px;
}

.moveHintTheHint #LoDLoadingTip {
	vertical-align: bottom;
	horizontal-align: right;
}

.statsFullyLoaded #LoDLoadingTip {
	visibility: collapse;
}

#LoDLoadingTipImage {
	width: 140px;
	height: 140px;
	background-color: #000000;

	border:1px solid #000000;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#LoDLoadingTipText {
	margin-left: 140px;
	width: 500px;
	height: 140px;
	color: #FFFFFF;
	padding: 12px;
	font-weight: bold;
	font-size: 20px;
}

.workingPanel {
	width: 100%;
	height: 100%;

	border: 2px solid #32383677;

	background-color: gradient( linear, 0% 0%, 0% 25%, from( #232326 ), to( #1c1d20 ) );
	box-shadow: #00000099 -4px -4px 8px 8px;
}

.OMGPanel {
	width: 350px;
	height: 250px;

	margin-left: 140px;
	margin-top: 25%;

	border: 2px solid #32383677;

	background-color: gradient( linear, 0% 0%, 0% 25%, from( #232326 ), to( #1c1d20 ) );
	box-shadow: #00000099 -4px -4px 8px 8px;

	opacity: 0;
}

.OMGTitle
{
	margin-top: 5%;
	width: 100%;
	height: 50px;
	font-size: 30px;
	text-align: center;
}

.OMGNum
{
	margin-top: 5%;
	width: 100%;
	height: 70px;
	font-size: 70px;
	font-weight: bold;
	text-align: center;
	color: #FF0000; /* #48FF00 */
}

.OMGVoteButton
{
	margin-top: 10px;
	width: 50%;
	height: 40px;
	horizontal-align: center;
	vertical-align: center;
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex");
	background-size: 100% 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #303090FF ), to( #4444D0FF ) );
	box-shadow: #000000 0px 0px 18px 0px;
	transition-property: background-color;
	transition-duration: 0.2s;
}

.OMGVoteButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4444D0FF ), to( #6464F0FF ) );
	box-shadow: #000000 0px 0px 25px 0px;
}

.OMGVoteButton:active
{
	transform: translate3d(1px, 1px, 0px);
	sound: "ui_team_select_lock_and_start";
}

.OMGVoteButton Label
{
	font-size: 24px;
	horizontal-align: center;
	vertical-align: center;
	color: #ffffff;
}