.IMBALevelRewardTriggerButton
{
	width: 42px;
	height: 42px;
	wash-color: #A0A0A0FF;
	background-image: url('s2r://panorama/images/control_icons/brackets_png.vtex');
	background-size: 100% 100%;
	transition-duration: 0.1s;
	transition-property: wash-color;
	visibility: collapse;
}

.IMBALevelRewardTriggerButton:hover
{
	width: 42px;
	height: 42px;
	wash-color: #A0A0A000;
	background-image: url('s2r://panorama/images/control_icons/brackets_png.vtex');
	background-size: 100% 100%;
	transition-duration: 0.2s;
	transition-property: wash-color;
}

#IMBALevelRewardBackground_Outer
{
	height: 100%;
	width: 100%;
	opacity: 0.0;
	transition-duration: 0.2s;
	transition-property: opacity;
	z-index: -1;
}

#IMBALevelRewardBackground_Outer.LevelRewardPanleVisible
{
	opacity: 1.0;
	transition-duration: 0.2s;
	transition-property: opacity;
}

#IMBALevelRewardBackground
{
	height: 800px;
	width: 1000px;
	background-image: url("s2r://panorama/images/hud/reborn/bg_scoreboard_psd.vtex");
	background-size: cover;
	background-color: #000000FF;
	box-shadow: #000000f5 -4px -4px 8px 8px;
	opacity: 1.0;
	transition-duration: 0.2s;
	transition-property: opacity, box-shadow;
	vertical-align: center;
	horizontal-align: center;
	
	/*transition-property: box-shadow, height;
	transition-duration: .36s, .18s;
	transition-delay: .16s, 0s;
	transition-timing-function: ease-in-out;*/
}

#IMBALevelRewardBackground.LevelRewardPanleVisible
{
	opacity: 1.0;
	box-shadow: #000000f5 -4px -4px 8px 8px;
	transition-duration: 0.2s;
	transition-property: opacity, box-shadow;
}

#IMBALevelRewardTitles
{
	width: 100%;
	height: 65px;
	border-bottom: 3px solid #000000FF;
	background-color: #000000FF;
}

.IMBALevelReward_HCWTitle
{
	margin-right: 4px;
	height: 100%;
	width: 180px;
	background-image: url("s2r://panorama/images/hud/reborn/bg_scoreboard_psd.vtex");
	background-size: cover;
	wash-color: #C0C0C09F;

	transition-duration: 0.1s;
	transition-property: wash-color;
}

.IMBALevelReward_HCWTitle:hover
{
	wash-color: #FFFFFFD2;
	transition-duration: 0.1s;
	transition-property: wash-color;
}

.IMBALevelReward_HCWTitle_Text
{
	font-size: 40px;
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
}

.IMBALevelReward_ItemTitle
{
	margin-right: 4px;
	height: 100%;
	background-image: url("s2r://panorama/images/hud/reborn/bg_scoreboard_psd.vtex");
	background-size: cover;
	wash-color: #C0C0C09F;

	transition-duration: 0.1s;
	transition-property: wash-color;
}

.IMBALevelReward_ItemTitle:hover
{
	wash-color: #FFFFFFD2;
	transition-duration: 0.1s;
	transition-property: wash-color;
}

#IMBALevelRewardPage_Container
{
	height: 700px;
	width: 100%;
	background-color: #FF000000;
}

#IMBALevelRewardBottom
{
	height: 35px;
	width: 100%;
	background-color: #FF000000;
	border-top: 3px solid #000000FF;
}

#IMBALevelReward_CurrentLevelText
{
	margin-left: 10px;
	font-size: 25px;
	vertical-align: center;
	horizontal-align: left;
	text-align: center;
}

#IMBALevelReward_LevelIntro
{
	margin-left: 20px;
	font-size: 15px;
	vertical-align: bottom;
	horizontal-align: right;
	text-align: center;
	color: #C0C0C0FF;
}

.IMBALevelRewardPage_Detail
{
	height: 100%;
	width: 100%;
	background-color: #FF000000;
}

.IMBALevelRewardPage_Intro_Text
{
	margin-top: 20px;
	vertical-align: top;
	horizontal-align: center;
}

#IMBALevelRewardPage_Hero_Intro_IMG
{
	vertical-align: top;
	horizontal-align: center;
	margin-top: 20px;
}

#IMBALevelRewardPage_Hero_ColorPick
{
	margin-top: 35px;
	width: 800px;
	height: 280px;
	vertical-align: top;
	horizontal-align: center;
	background-color: #FF000000;
}

.IMBALevelRewardPage_Hero_ColorPick_Line
{
	width: 100%;
	height: 25%;
}

.IMBALevelRewardPage_Hero_ColorPickButton
{
	border-bottom: 1.5px solid #000000FF;
	border-top: 1.5px solid #000000FF;
	border-left: 1.5px solid #000000FF;
	border-right: 1.5px solid #000000FF;
	background-color: #FFFFFF00;
	height: 100%;
	width: 12.5%;
	transition-duration: 0.2s;
	transition-property: background-color;
}

.IMBALevelRewardPage_Hero_ColorPickButton:hover
{
	background-color: #FFFFFF10;
	transition-duration: 0.2s;
	transition-property: background-color;
}

#IMBALevelRewardPage_Hero_ColorPick_Tag
{
	margin-left: -5px;
	margin-right: -5px;
	vertical-align: center;
	horizontal-align: center;
	height: 65%;
	width: 105%;
	background-color: #80808000;
}

.IMBALevelRewardPage_Hero_ColorPick_Text
{
	vertical-align: center;
	horizontal-align: center;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	color: #FFFFFFFF;
	background-color: #8080809A;
	width: 100%;
	visibility: collapse;
}

#IMBALevelRewardPage_Courier_Pick
{
	margin-top: 35px;
	margin-bottom: 50px;
	width: 800px;
	height: 750px;
	vertical-align: top;
	horizontal-align: center;
	background-color: #FF0000FF;
}

.IMBALevelRewardPage_Courier_Pick_Line
{
	width: 100%;
	height: 20%;
}

.IMBALevelRewardPage_Courier_PickButton
{
	border-bottom: 1.5px solid #000000FF;
	border-top: 1.5px solid #000000FF;
	border-left: 1.5px solid #000000FF;
	border-right: 1.5px solid #000000FF;
	background-image: url('file://{images}/custom_game/imba_level_rewards/courier_20.png');
	background-color:  #FFFFFF00;
	background-size: 100% 100%;
	height: 100%;
	width: 25%;
	wash-color: #FFFFFF00;
	transition-duration: 0.2s;
	transition-property: wash-color;
}

.IMBALevelRewardPage_Courier_PickButton:hover
{
	background-color:  #FFFFFF9A;
	wash-color: #FFFFFF9A;
	transition-duration: 0.2s;
	transition-property: wash-color;
}

.IMBALevelRewardPage_RemoveButton
{
	margin-top: 30px;
	width: 180px;
	height: 40px;
	horizontal-align: center;
	vertical-align: top;
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex");
	background-size: 100% 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #303090FF ), to( #4444D0FF ) );
	box-shadow: #000000 0px 0px 18px 0px;
	transition-property: background-color;
	transition-duration: 0.2s;
}

.IMBALevelRewardPage_RemoveButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4444D0FF ), to( #6464F0FF ) );
	box-shadow: #000000 0px 0px 25px 0px;
}

#IMBALevelRewardPage_Ward_Pick
{
	margin-top: 35px;
	margin-bottom: 50px;
	width: 900px;
	height: 600px;
	vertical-align: top;
	horizontal-align: center;
	background-color: #FF0000FF;
}

.IMBALevelRewardPage_Ward_Pick_Line
{
	width: 100%;
	height: 33.33%;
}

.IMBALevelRewardPage_Ward_PickButton
{
	border-bottom: 1.5px solid #000000FF;
	border-top: 1.5px solid #000000FF;
	border-left: 1.5px solid #000000FF;
	border-right: 1.5px solid #000000FF;
	background-image: url('file://{images}/custom_game/imba_level_rewards/ward_18.png');
	background-color:  #FFFFFF00;
	background-size: 100% 100%;
	height: 100%;
	width: 16.667%;
	wash-color: #FFFFFF00;
	transition-duration: 0.2s;
	transition-property: wash-color;
}

.IMBALevelRewardPage_Ward_PickButton:hover
{
	background-color:  #FFFFFF9A;
	wash-color: #FFFFFF9A;
	transition-duration: 0.2s;
	transition-property: wash-color;
}
